<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
	<video autoplay muted poster="/static/poster-bg.png" id="video-bg" style="position: absolute; top: -30%; display: block; z-index: -100; min-width: 100%; height: auto;">
				<source src="/static/vid-bg.mp4" type="">
	</video>
	<div class="content-wrapper">
		<div class="header">
			<pre class="h">BlogByIan</pre>
			<input form="" type="search" name="search" placeholder="search...">
		</div>
		<pre>professional</pre>
		<pre>freelance</pre>
		<pre>writer</pre>
	</div>
</header>
<main>
	<div class="content-wrapper">

<span style="background-color: #222222; color: #f8f8f8; padding: 4px 8px; font-weight: bold;">01-07-2017</span>
<h3 class="title" style="margin-top: 0.5em;">Obsolete and deprecated HTML elements</h3>
<p style="background-color: rgba(3, 169, 244, 0.5); padding: 1em"><b>Warning:</b> These are old HTML elements which are deprecated and should not be used. You should never use them in new projects, and should replace them in old projects as soon as you can. They are listed here for informational purposes only.</p>
<br />
<table cellpadding="8" style="border-spacing: 0;">
<tr>
<th>Element</th>
<th>Description</th>
</tr>
<tr>
<td><code><code>&lt;acronym&gt;</code></code></td>
<td>The HTML Acronym Element (<code>&lt;acronym&gt;</code>) allows authors to clearly indicate a sequence of characters that compose an acronym or abbreviation for a word. This element has been removed in HTML5. Use <code>&lt;abbr&gt;</code> element.</td>
</tr>
<tr>
<td><code>&lt;applet&gt;</code></td>
<td>The HTML Applet Element (<code>&lt;applet&gt;</code>) identifies the inclusion of a Java applet.</td>
</tr>
<tr>
<td><code>&lt;basefont&gt;</code></td><td>The HTML basefont element (<code>&lt;basefont&gt;</code>) establishes a default font size for a document. Font size then can be varied relative to the base font size using the <code>&lt;font&gt;</code> element.</td>
</tr>
<tr>
<td><code>&lt;big&gt;</code></td>
<td>The HTML Big Element (<code>&lt;big&gt;</code>) makes the text font size one size bigger (for example, from small to medium, or from large to x-large) up to the browser's maximum font size.</td>
</tr>
<tr>
<td><code>&lt;blink&gt;</code></td><td>The HTML Blink Element (<code>&lt;blink&gt;</code>) is a non-standard element causing the enclosed text to flash slowly.</td>
</tr>
<tr>
<td><code>&lt;center&gt;</code></td>	<td>The HTML Center Element (<code>&lt;center&gt;</code>) is a block-level element that can contain paragraphs and other block-level and inline elements. The entire content of this element is centered horizontally within its containing element (typically, the <code>&lt;body&gt;</code>).</td>
</tr>
<tr>
<td><code>&lt;command&gt;</code></td><td>The command element represents a command which the user can invoke.</td>
</tr>
<tr>
<td><code>&lt;content&gt;</code></td>
<td>The HTML <code>&lt;content&gt;</code> element is used inside of Shadow DOM as an insertion point. It is not intended to be used in ordinary HTML. It is used with Web Components. It has now been replaced by the <code>&lt;slot&gt;</code> element.</td>
</tr>
<tr>
<td><code>&lt;dir&gt;</code></td>
<td>The HTML directory element (<code>&lt;dir&gt;</code>) represents a directory, namely a collection of filenames.</td>
</tr>
<tr>
<td><code>&lt;element&gt;</code></td>
<td>The HTML <code>&lt;element&gt;</code> element is used to define new custom DOM elements.</td>
</tr>
<tr>
<td><code>&lt;font&gt;</code></td>
<td>The HTML Font Element (<code>&lt;font&gt;</code>) defines the font size, color and face for its content.</td>
</tr>
<tr>
<td><code>&lt;frame&gt;</code></td>
<td><code>&lt;frame&gt;</code> is an HTML element which defines a particular area in which another HTML document can be displayed. A frame should be used within a <code>&lt;frameset&gt;</code>.</td>
</tr>
<tr>
<td><code>&lt;frameset&gt;</code></td>
<td><code>&lt;frameset&gt;</code> is an HTML element which is used to contain <code>&lt;frame&gt;</code> elements.</td>
</tr>
<tr>
<td><code>&lt;isindex&gt;</code></td>
<td><code>&lt;isindex&gt;</code> is an obsolete HTML element that puts a text field in a page for querying the document.</td>
</tr>
<tr>
<td><code>&lt;keygen&gt;</code> </td>
<td>The HTML <code>&lt;keygen&gt;</code> element exists to facilitate generation of key material, and submission of the public key as part of an HTML form. This mechanism is designed for use with Web-based certificate management systems. It is expected that the <code>&lt;keygen&gt;</code> element will be used in an HTML form along with other information needed to construct a certificate request, and that the result of the process will be a signed certificate.</td>
</tr>
<tr>
<td><code>&lt;listing&gt;</code></td>
<td>The HTML Listing Element (<code>&lt;listing&gt;</code>) renders text between the start and end tags without interpreting the HTML in between and using a monospaced font. The HTML 2 standard recommended that lines shouldn't be broken when not greater than 132 characters.</td>
</tr>
<tr>
<td><code>&lt;marquee&gt;</code></td>
<td>The HTML <code>&lt;marquee&gt;</code> element is used to insert a scrolling area of text.</td>
</tr>
<tr>
<td><code>&lt;multicol&gt;</code></td>
<td>The HTML <code>&lt;multicol&gt;</code> element was an experimental element designed to allow multi-column layouts. It never got any significant traction and is not implemented in any major browsers.</td>
</tr>
<tr>
<td><code>&lt;nextid&gt;</code></td>
<td>	Technical review completed.</td>
</tr>
<tr>
<td><code>&lt;noembed&gt;</code></td>
<td>The <code>&lt;noembed&gt;</code> element is a deprecated and non-standard way to provide alternative, or "fallback", content for browsers that do not support the <code>&lt;embed&gt;</code> element or do not support embedded content an author wishes to use.</td>
</tr>
<tr>
<td><code>&lt;plaintext&gt;</code></td>
<td>	The HTML Plaintext Element (<code>&lt;plaintext&gt;</code>) renders everything following the start tag as raw text, without interpreting any HTML. There is no closing tag, since everything after it is considered raw text.</td>
</tr>
<tr>
<td><code>&lt;shadow&gt;</code></td>
<td>	The HTML <code>&lt;shadow&gt;</code> element is used as a shadow DOM insertion point. You might use it if you have created multiple shadow roots under a shadow host. It is not useful in ordinary HTML. It is used with Web Components.</td>
</tr>
<tr>
<td><code>&lt;spacer&gt;</code></td>
<td><code>&lt;spacer&gt;</code> is an HTML element which is used for inserting white spaces to web pages. It was created by NetScape for achieving same effect as a single-pixel layout GIF image, which was something web designers used to use to add white spaces to web pages, without actually using a GIF. However <code>&lt;spacer&gt;</code> is not supported by any major browser and same effects can be created with various CSS rules. In Mozilla applications, support for this element was removed in Gecko 2.0. Therefore usage of <code>&lt;spacer&gt;</code> is unnecessary.</td>
</tr>
<tr>
<td><code>&lt;strike&gt;</code></td>
<td>The HTML <code>&lt;strike&gt;</code> element (or HTML Strikethrough Element) places a strikethrough (horizontal line) over text.</td>
</tr>
<tr>
<td><code>&lt;tt&gt;</code></td>
<td>The HTML Teletype Text Element (<code>&lt;tt&gt;</code>) produces an inline element displayed in the browser's default monotype font. This element was intended to style text as it would display on a fixed width display, such as a teletype. It probably is more common to display fixed width type using the <code>&lt;code&gt;</code> element.</td>
</tr>
<tr>
<td><code>&lt;xmp&gt;</code></td>
<td>	The HTML Example Element (<code>&lt;xmp&gt;</code>) renders text between the start and end tags without interpreting the HTML in between and using a monospaced font. The HTML2 specification recommended that it should be rendered wide enough to allow 80 characters per line.</td>
</tr>
</table>

	</div>
</main>

<div style="max-width: 100%; height: auto; min-height: 240px;">

</div>
<footer>
	<div class="content-wrapper">
		<span>Ian</span>
		<span>BlogByIan</span>
		<span>No Copyright&copy;2017</span>
	</div>
</footer>
</body>
</html>
